.root {
  text-align: center;
}

p {
  font-size: 14pt;
}

.navbar-sticky {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}

label {
  font-size: 14pt;
}

.border {
  border: 0.1vw solid lightgray !important;
}

.text-box {
  width: 75vw;
}

@media (min-width: 900px) {
  .text-box {
    width: 40vw;
  }
}